# Exploring Alpha Vantage API

### Imports- **Run First**

In [1]:
#open file with your API key
with open('Alpha_Vantage_API_key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [2]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [3]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [4]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey=' + str(API_key) + "&datatype=csv"
r = requests.get(url).content
data = pd.read_csv(io.StringIO(r.decode("utf-8")))

print(data)

       timestamp    open    high     low   close     volume
0     2024-08-07  199.09  213.64  196.00  209.82  252725494
1     2024-08-02  216.96  225.60  215.75  219.86  296061436
2     2024-07-26  227.01  227.78  214.62  217.96  242932215
3     2024-07-19  236.48  237.23  222.27  224.31  278397452
4     2024-07-12  227.09  233.08  223.25  230.54  287640514
...          ...     ...     ...     ...     ...        ...
1287  1999-12-10  114.56  118.00   99.00  103.00   25152800
1288  1999-12-03   94.25  115.56   93.25  115.00   28046300
1289  1999-11-26   91.75   95.50   88.50   95.06    9757600
1290  1999-11-19   89.62   94.75   88.06   92.44   13711000
1291  1999-11-12   87.75   97.73   86.75   90.62   25776200

[1292 rows x 6 columns]

In [5]:
#get head of data
data.head(10)

    timestamp    open    high     low   close     volume
0  2024-08-07  199.09  213.64  196.00  209.82  252725494
1  2024-08-02  216.96  225.60  215.75  219.86  296061436
2  2024-07-26  227.01  227.78  214.62  217.96  242932215
3  2024-07-19  236.48  237.23  222.27  224.31  278397452
4  2024-07-12  227.09  233.08  223.25  230.54  287640514
5  2024-07-05  212.09  226.45  211.92  226.34  216231316
6  2024-06-28  207.72  216.07  206.59  210.62  335969485
7  2024-06-21  213.37  218.95  207.11  207.49  506265358
8  2024-06-14  196.90  220.20  192.15  212.49  635755143
9  2024-06-07  192.90  196.94  192.52  196.89  245994434

#### Python Package Method

In [6]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday("AAPL")

In [7]:
#print meta_data
print(meta_data)

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2024-08-07 19:45:00', '4. Interval': '15min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}

In [8]:
#print data
print(apple1)

{'2024-08-07 19:45:00': {'1. open': '207.7350', '2. high': '208.7200', '3. low': '207.6990', '4. close': '208.0750', '5. volume': '21741'}, '2024-08-07 19:30:00': {'1. open': '208.0500', '2. high': '208.2500', '3. low': '207.5900', '4. close': '207.7600', '5. volume': '33462'}, '2024-08-07 19:15:00': {'1. open': '208.5800', '2. high': '209.8200', '3. low': '208.0500', '4. close': '208.0500', '5. volume': '25207'}, '2024-08-07 19:00:00': {'1. open': '208.7000', '2. high': '209.0000', '3. low': '208.4200', '4. close': '208.6400', '5. volume': '4341'}, '2024-08-07 18:45:00': {'1. open': '208.8100', '2. high': '209.0000', '3. low': '208.3600', '4. close': '208.8500', '5. volume': '7425'}, '2024-08-07 18:30:00': {'1. open': '209.2200', '2. high': '209.3000', '3. low': '208.6000', '4. close': '208.8100', '5. volume': '9594'}, '2024-08-07 18:15:00': {'1. open': '208.8900', '2. high': '209.2400', '3. low': '208.5500', '4. close': '208.9600', '5. volume': '11660'}, '2024-08-07 18:00:00': {'1. open': '208.3800', '2. high': '209.3500', '3. low': '208.2500', '4. close': '208.8900', '5. volume': '32349'}, '2024-08-07 17:45:00': {'1. open': '208.3200', '2. high': '209.8200', '3. low': '208.1300', '4. close': '208.3200', '5. volume': '19015'}, '2024-08-07 17:30:00': {'1. open': '208.2400', '2. high': '209.8200', '3. low': '208.1100', '4. close': '208.3250', '5. volume': '1438228'}, '2024-08-07 17:15:00': {'1. open': '208.2850', '2. high': '209.8200', '3. low': '208.1100', '4. close': '208.3000', '5. volume': '14676'}, '2024-08-07 17:00:00': {'1. open': '208.6300', '2. high': '220.4830', '3. low': '208.0900', '4. close': '208.2500', '5. volume': '32669'}, '2024-08-07 16:45:00': {'1. open': '209.0600', '2. high': '220.4830', '3. low': '194.4340', '4. close': '208.7000', '5. volume': '2506224'}, '2024-08-07 16:30:00': {'1. open': '209.1000', '2. high': '209.8200', '3. low': '209.0100', '4. close': '209.0800', '5. volume': '88502'}, '2024-08-07 16:15:00': {'1. open': '209.8200', '2. high': '209.9600', '3. low': '209.0000', '4. close': '209.0600', '5. volume': '87885'}, '2024-08-07 16:00:00': {'1. open': '209.8700', '2. high': '210.0050', '3. low': '209.2600', '4. close': '209.9000', '5. volume': '16207571'}, '2024-08-07 15:45:00': {'1. open': '210.5700', '2. high': '210.8300', '3. low': '209.4100', '4. close': '209.8600', '5. volume': '3893910'}, '2024-08-07 15:30:00': {'1. open': '210.5500', '2. high': '210.9900', '3. low': '210.2200', '4. close': '210.5750', '5. volume': '1464198'}, '2024-08-07 15:15:00': {'1. open': '209.9500', '2. high': '210.8400', '3. low': '209.9000', '4. close': '210.5200', '5. volume': '1130747'}, '2024-08-07 15:00:00': {'1. open': '208.9450', '2. high': '210.5700', '3. low': '208.4800', '4. close': '209.9300', '5. volume': '1949622'}, '2024-08-07 14:45:00': {'1. open': '209.5900', '2. high': '209.8300', '3. low': '208.8900', '4. close': '208.9400', '5. volume': '1285451'}, '2024-08-07 14:30:00': {'1. open': '211.0200', '2. high': '211.0200', '3. low': '209.5000', '4. close': '209.6300', '5. volume': '1649134'}, '2024-08-07 14:15:00': {'1. open': '210.3600', '2. high': '211.2600', '3. low': '210.0100', '4. close': '211.0400', '5. volume': '1934607'}, '2024-08-07 14:00:00': {'1. open': '210.9000', '2. high': '211.2800', '3. low': '210.0200', '4. close': '210.3700', '5. volume': '1217431'}, '2024-08-07 13:45:00': {'1. open': '211.2700', '2. high': '211.4400', '3. low': '210.5880', '4. close': '210.9300', '5. volume': '937828'}, '2024-08-07 13:30:00': {'1. open': '211.0400', '2. high': '211.4900', '3. low': '210.8650', '4. close': '211.2800', '5. volume': '1005650'}, '2024-08-07 13:15:00': {'1. open': '211.2500', '2. high': '211.7000', '3. low': '210.3500', '4. close': '211.0400', '5. volume': '1334753'}, '2024-08-07 13:00:00': {'1. open': '211.5400', '2. high': '211.8500', '3. low': '210.8500', '4. close': '211.2730', '5. volume': '1436125'}, '2024-08-07 12:45:00': {'1. open': '212.1200', '2. high': '212.3800', '3. low': '211.4300', '4. close': '211.5550', '5. volume': '1138746'}, '2024-08-07 12:30:00': {'1. open': '212.6000', '2. high': '212.9700', '3. low': '212.0700', '4. close': '212.1100', '5. volume': '1302327'}, '2024-08-07 12:15:00': {'1. open': '212.2400', '2. high': '212.8100', '3. low': '211.9800', '4. close': '212.5850', '5. volume': '846234'}, '2024-08-07 12:00:00': {'1. open': '212.5800', '2. high': '212.5900', '3. low': '211.1800', '4. close': '212.2400', '5. volume': '1381173'}, '2024-08-07 11:45:00': {'1. open': '212.4900', '2. high': '212.7000', '3. low': '211.9600', '4. close': '212.5800', '5. volume': '1385746'}, '2024-08-07 11:30:00': {'1. open': '213.1700', '2. high': '213.6400', '3. low': '212.4800', '4. close': '212.4820', '5. volume': '1447845'}, '2024-08-07 11:15:00': {'1. open': '213.2150', '2. high': '213.4000', '3. low': '212.7700', '4. close': '213.1600', '5. volume': '1226073'}, '2024-08-07 11:00:00': {'1. open': '213.1800', '2. high': '213.5900', '3. low': '212.6500', '4. close': '213.2100', '5. volume': '1545222'}, '2024-08-07 10:45:00': {'1. open': '212.8200', '2. high': '213.4700', '3. low': '212.7200', '4. close': '213.1500', '5. volume': '1740882'}, '2024-08-07 10:30:00': {'1. open': '211.6900', '2. high': '212.8700', '3. low': '211.4700', '4. close': '212.8200', '5. volume': '1856037'}, '2024-08-07 10:15:00': {'1. open': '211.9900', '2. high': '212.2100', '3. low': '210.8100', '4. close': '211.7000', '5. volume': '2071756'}, '2024-08-07 10:00:00': {'1. open': '212.4300', '2. high': '212.9100', '3. low': '211.7600', '4. close': '211.9600', '5. volume': '2456795'}, '2024-08-07 09:45:00': {'1. open': '211.4100', '2. high': '212.4300', '3. low': '210.9300', '4. close': '212.4000', '5. volume': '2933688'}, '2024-08-07 09:30:00': {'1. open': '206.9000', '2. high': '211.6400', '3. low': '206.3900', '4. close': '211.3900', '5. volume': '4791977'}, '2024-08-07 09:15:00': {'1. open': '207.8400', '2. high': '208.0900', '3. low': '206.3200', '4. close': '206.9300', '5. volume': '179650'}, '2024-08-07 09:00:00': {'1. open': '208.0300', '2. high': '208.2000', '3. low': '203.2800', '4. close': '207.8900', '5. volume': '46144'}, '2024-08-07 08:45:00': {'1. open': '208.2900', '2. high': '208.4400', '3. low': '207.8500', '4. close': '208.0250', '5. volume': '36425'}, '2024-08-07 08:30:00': {'1. open': '207.9000', '2. high': '208.5300', '3. low': '207.8010', '4. close': '208.2900', '5. volume': '31132'}, '2024-08-07 08:15:00': {'1. open': '208.0650', '2. high': '208.2000', '3. low': '207.8000', '4. close': '207.8240', '5. volume': '27930'}, '2024-08-07 08:00:00': {'1. open': '207.3430', '2. high': '220.2700', '3. low': '207.2300', '4. close': '208.0650', '5. volume': '2814297'}, '2024-08-07 07:45:00': {'1. open': '208.4500', '2. high': '208.4500', '3. low': '207.6600', '4. close': '207.9500', '5. volume': '27393'}, '2024-08-07 07:30:00': {'1. open': '208.4000', '2. high': '208.6400', '3. low': '208.0000', '4. close': '208.4000', '5. volume': '35223'}, '2024-08-07 07:15:00': {'1. open': '208.7600', '2. high': '208.8000', '3. low': '208.3600', '4. close': '208.4100', '5. volume': '30672'}, '2024-08-07 07:00:00': {'1. open': '209.0100', '2. high': '209.4300', '3. low': '208.6000', '4. close': '208.7600', '5. volume': '55277'}, '2024-08-07 06:45:00': {'1. open': '208.8200', '2. high': '209.2900', '3. low': '208.5200', '4. close': '209.0600', '5. volume': '16383'}, '2024-08-07 06:30:00': {'1. open': '208.6500', '2. high': '208.9000', '3. low': '208.6000', '4. close': '208.7300', '5. volume': '7103'}, '2024-08-07 06:15:00': {'1. open': '208.5500', '2. high': '208.6700', '3. low': '208.2300', '4. close': '208.6700', '5. volume': '4514'}, '2024-08-07 06:00:00': {'1. open': '208.5400', '2. high': '208.6500', '3. low': '208.2800', '4. close': '208.4200', '5. volume': '10159'}, '2024-08-07 05:45:00': {'1. open': '208.4900', '2. high': '208.6600', '3. low': '208.3500', '4. close': '208.6000', '5. volume': '7989'}, '2024-08-07 05:30:00': {'1. open': '209.3600', '2. high': '209.4000', '3. low': '208.4400', '4. close': '208.6000', '5. volume': '12820'}, '2024-08-07 05:15:00': {'1. open': '208.8000', '2. high': '209.4200', '3. low': '208.4300', '4. close': '209.3500', '5. volume': '19332'}, '2024-08-07 05:00:00': {'1. open': '208.3300', '2. high': '208.9200', '3. low': '208.2700', '4. close': '208.7700', '5. volume': '13668'}, '2024-08-07 04:45:00': {'1. open': '207.9800', '2. high': '208.4000', '3. low': '207.9800', '4. close': '208.3300', '5. volume': '12041'}, '2024-08-07 04:30:00': {'1. open': '208.2000', '2. high': '208.2900', '3. low': '207.9200', '4. close': '208.0300', '5. volume': '8075'}, '2024-08-07 04:15:00': {'1. open': '208.1000', '2. high': '208.5000', '3. low': '207.9100', '4. close': '208.1800', '5. volume': '20875'}, '2024-08-07 04:00:00': {'1. open': '208.0400', '2. high': '208.8500', '3. low': '207.1200', '4. close': '208.1600', '5. volume': '42450'}, '2024-08-06 19:45:00': {'1. open': '205.8200', '2. high': '206.0000', '3. low': '205.0000', '4. close': '205.2400', '5. volume': '16664'}, '2024-08-06 19:30:00': {'1. open': '205.8800', '2. high': '206.4500', '3. low': '205.5500', '4. close': '205.8150', '5. volume': '13277'}, '2024-08-06 19:15:00': {'1. open': '206.2000', '2. high': '206.4400', '3. low': '205.8500', '4. close': '206.0500', '5. volume': '10120'}, '2024-08-06 19:00:00': {'1. open': '205.9050', '2. high': '206.5000', '3. low': '205.8100', '4. close': '206.1850', '5. volume': '18383'}, '2024-08-06 18:45:00': {'1. open': '205.7000', '2. high': '207.2300', '3. low': '205.2500', '4. close': '205.9000', '5. volume': '14613'}, '2024-08-06 18:30:00': {'1. open': '205.9500', '2. high': '206.3400', '3. low': '205.5600', '4. close': '205.8000', '5. volume': '8245'}, '2024-08-06 18:15:00': {'1. open': '205.7900', '2. high': '206.8200', '3. low': '205.5160', '4. close': '205.9500', '5. volume': '28792'}, '2024-08-06 18:00:00': {'1. open': '204.9500', '2. high': '206.3100', '3. low': '204.9000', '4. close': '205.7950', '5. volume': '33248'}, '2024-08-06 17:45:00': {'1. open': '205.0800', '2. high': '205.2400', '3. low': '204.7000', '4. close': '204.9000', '5. volume': '23634'}, '2024-08-06 17:30:00': {'1. open': '205.3100', '2. high': '207.2300', '3. low': '205.0950', '4. close': '205.0950', '5. volume': '76114'}, '2024-08-06 17:15:00': {'1. open': '205.6110', '2. high': '207.2300', '3. low': '205.2000', '4. close': '205.4000', '5. volume': '26598'}, '2024-08-06 17:00:00': {'1. open': '205.5250', '2. high': '212.2770', '3. low': '197.7510', '4. close': '205.6400', '5. volume': '37612'}, '2024-08-06 16:45:00': {'1. open': '206.1000', '2. high': '209.6270', '3. low': '197.7510', '4. close': '205.5200', '5. volume': '2454868'}, '2024-08-06 16:30:00': {'1. open': '206.1700', '2. high': '207.2300', '3. low': '206.0100', '4. close': '207.2300', '5. volume': '66543'}, '2024-08-06 16:15:00': {'1. open': '206.1700', '2. high': '210.9200', '3. low': '196.7750', '4. close': '206.1200', '5. volume': '110820'}, '2024-08-06 16:00:00': {'1. open': '207.2300', '2. high': '207.9220', '3. low': '206.1100', '4. close': '206.1900', '5. volume': '14598452'}, '2024-08-06 15:45:00': {'1. open': '207.9300', '2. high': '208.3400', '3. low': '206.4000', '4. close': '207.1250', '5. volume': '4650835'}, '2024-08-06 15:30:00': {'1. open': '208.5050', '2. high': '208.5900', '3. low': '207.7400', '4. close': '207.9200', '5. volume': '1535340'}, '2024-08-06 15:15:00': {'1. open': '207.9700', '2. high': '208.7000', '3. low': '207.4000', '4. close': '208.5050', '5. volume': '1635530'}, '2024-08-06 15:00:00': {'1. open': '208.7400', '2. high': '208.8300', '3. low': '207.6100', '4. close': '207.9600', '5. volume': '1479089'}, '2024-08-06 14:45:00': {'1. open': '209.6400', '2. high': '209.9500', '3. low': '208.7000', '4. close': '208.7800', '5. volume': '1171654'}, '2024-08-06 14:30:00': {'1. open': '209.4500', '2. high': '209.8900', '3. low': '209.1600', '4. close': '209.6400', '5. volume': '984276'}, '2024-08-06 14:15:00': {'1. open': '208.2850', '2. high': '209.4800', '3. low': '208.2850', '4. close': '209.4460', '5. volume': '1261739'}, '2024-08-06 14:00:00': {'1. open': '208.5100', '2. high': '208.5100', '3. low': '207.7050', '4. close': '208.3000', '5. volume': '1412639'}, '2024-08-06 13:45:00': {'1. open': '208.7900', '2. high': '208.9700', '3. low': '208.3300', '4. close': '208.5100', '5. volume': '915162'}, '2024-08-06 13:30:00': {'1. open': '208.9900', '2. high': '209.1850', '3. low': '208.5500', '4. close': '208.7850', '5. volume': '1117460'}, '2024-08-06 13:15:00': {'1. open': '209.1900', '2. high': '209.3400', '3. low': '208.5200', '4. close': '208.9900', '5. volume': '891604'}, '2024-08-06 13:00:00': {'1. open': '209.6900', '2. high': '209.7200', '3. low': '208.8350', '4. close': '209.1900', '5. volume': '1163354'}, '2024-08-06 12:45:00': {'1. open': '208.8200', '2. high': '209.9900', '3. low': '208.7300', '4. close': '209.7000', '5. volume': '1439879'}, '2024-08-06 12:30:00': {'1. open': '208.6700', '2. high': '208.9900', '3. low': '208.3600', '4. close': '208.8300', '5. volume': '1097270'}, '2024-08-06 12:15:00': {'1. open': '208.7600', '2. high': '208.9900', '3. low': '208.4200', '4. close': '208.6310', '5. volume': '1125081'}, '2024-08-06 12:00:00': {'1. open': '208.4600', '2. high': '208.9700', '3. low': '208.2700', '4. close': '208.7400', '5. volume': '1319181'}, '2024-08-06 11:45:00': {'1. open': '206.4700', '2. high': '208.5600', '3. low': '206.4000', '4. close': '208.4500', '5. volume': '1766117'}, '2024-08-06 11:30:00': {'1. open': '206.1200', '2. high': '207.7100', '3. low': '206.0600', '4. close': '206.4700', '5. volume': '1632891'}, '2024-08-06 11:15:00': {'1. open': '207.1250', '2. high': '207.5800', '3. low': '206.0300', '4. close': '206.1100', '5. volume': '1640328'}, '2024-08-06 11:00:00': {'1. open': '207.5200', '2. high': '207.7390', '3. low': '206.6700', '4. close': '207.1100', '5. volume': '1709261'}}

In [9]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index()
df_apple1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2024-08-07 19:45:00  207.7350  208.7200  207.6990  208.0750     21741
1  2024-08-07 19:30:00  208.0500  208.2500  207.5900  207.7600     33462
2  2024-08-07 19:15:00  208.5800  209.8200  208.0500  208.0500     25207
3  2024-08-07 19:00:00  208.7000  209.0000  208.4200  208.6400      4341
4  2024-08-07 18:45:00  208.8100  209.0000  208.3600  208.8500      7425

In [10]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key = API_key, output_format="pandas")

In [11]:
# display new intraday stock data
ts2.get_intraday("AAPL")

(                     1. open  2. high   3. low  4. close  5. volume
 date
 2024-08-07 19:45:00  207.735  208.720  207.699   208.075    21741.0
 2024-08-07 19:30:00  208.050  208.250  207.590   207.760    33462.0
 2024-08-07 19:15:00  208.580  209.820  208.050   208.050    25207.0
 2024-08-07 19:00:00  208.700  209.000  208.420   208.640     4341.0
 2024-08-07 18:45:00  208.810  209.000  208.360   208.850     7425.0
 ...                      ...      ...      ...       ...        ...
 2024-08-06 12:00:00  208.460  208.970  208.270   208.740  1319181.0
 2024-08-06 11:45:00  206.470  208.560  206.400   208.450  1766117.0
 2024-08-06 11:30:00  206.120  207.710  206.060   206.470  1632891.0
 2024-08-06 11:15:00  207.125  207.580  206.030   206.110  1640328.0
 2024-08-06 11:00:00  207.520  207.739  206.670   207.110  1709261.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2024-08-07 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [12]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize="full")

In [15]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2024-08-07 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [16]:
#print data with reset index
df_apple2.reset_index()

                    date  1. open  2. high   3. low  4. close  5. volume
0    2024-08-07 19:45:00  207.735   208.72  207.699   208.075    21741.0
1    2024-08-07 19:30:00  208.050   208.25  207.590   207.760    33462.0
2    2024-08-07 19:15:00  208.580   209.82  208.050   208.050    25207.0
3    2024-08-07 19:00:00  208.700   209.00  208.420   208.640     4341.0
4    2024-08-07 18:45:00  208.810   209.00  208.360   208.850     7425.0
...                  ...      ...      ...      ...       ...        ...
1403 2024-07-09 05:00:00  227.640   227.89  227.380   227.730    10071.0
1404 2024-07-09 04:45:00  227.710   227.73  227.400   227.640    17474.0
1405 2024-07-09 04:30:00  227.850   227.85  227.610   227.700     4058.0
1406 2024-07-09 04:15:00  228.030   228.05  227.500   227.780    21999.0
1407 2024-07-09 04:00:00  228.380   228.41  227.840   228.000    10088.0

[1408 rows x 6 columns]